@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom scrollbar hiding */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Custom font */
@font-face {
  font-family: "JBMono";
  src: url("../public/assets/fonts/JetBrainsMono-2.304/fonts/variable/JetBrainsMono[wght].ttf");
}

/* Body styles */
body {
  color: var(--foreground);
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}


.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  scroll-snap-align: start;
}
